!!!
/
  Name: Kunal Shah
  Theme: Elementy
  Description: HTML/CSS
  Author: Kunal Shah
%html
  %head
    %meta{ content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type }/
    %title Kunal Shah | Developer &amp; Designer
    %meta{ charset => "utf-8 }/
    /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=edge">
    %meta{ content => "index, follow", :name => "robots }/
    %meta{ content => "Kunal Shah", :name => "keywords }/
    %meta{ content => "Kunal Shah is a developer and designer based in Houston, Texas.", :name => "description }/
    %meta{ content => "Kunal Shah", :name => "author }/
    %meta{ content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport }/
    %meta{ content => "#2a2b2f", :name => "theme-color }/
    / FAVICONS
    %link{ href => "images/favicon.png", :rel => "shortcut icon }/
    %link{ href => "images/favicon/apple-touch-icon.png", :rel => "apple-touch-icon }/
    /
      <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
      <link rel="icon" sizes="192x192" href="images/favicon/icon-192x192.png">
    / CSS
    %link{ href => "https://fonts.googleapis.com/css?family=Poppins:500,600,300%7COpen+Sans:400,300,700", :rel => "stylesheet", :type => "text/css }/
    %link{ href => "revo-slider/css/settings-custom.css", :rel => "stylesheet", :type => "text/css }/
    %link{ href => "css/bootstrap.min.css", :rel => "stylesheet }/
    %link{ href => "css/icons-fonts.css", :rel => "stylesheet }/
    %link{ href => "css/style.css", :rel => "stylesheet }/
    %link{ href => "css/animate.min.css", :rel => "stylesheet }/
    %link{ href => "css/font-awesome.min.css", :rel => "stylesheet }/
  %body
    / LOADER
    #loader-overflow
      .loader-cont
        .loader-inner.ball-triangle-path
          %div
          %div
          %div
    #wrap.boxed
      .grey-bg
        / Grey BG
        / HEADER 3 MIN SIDE MENU 2 FONT BLACK TRANSPARENT
        %header#nav-stick.header.header-1.header-side-menu
          .header-wrapper
            .container-m-30.clearfix
              .logo-row
                / LOGO
                .logo-container-2
                  .logo-2
                    %a.clearfix{ href => "index.html }
                      %img.logo-img{ alt => "K", :src => "images/k.png }/
            / BUTTON
            .menu-btn-respons-container2
              %a#cd-menu-trigger{ href => "# }
                %span.cd-menu-icon
          / END header-wrapper
        / SIDE MENU
        %nav#cd-lateral-nav.font-poppins
          %ul#nav-onepage.cd-navigation.cd-single-item-wrapper
            %li.current
              %a{ href => "#index-link } Home
            / <li><a href="#about-link">About Me</a></li>
            %li
              %a{ href => "#skills-link } Skills
            %li
              %a{ href => "#blog-link } Blog
            %li
              %a{ href => "#portfolio-link } Projects
            %li
              %a{ href => "#contact-link } Contact
          / cd-single-item-wrapper
          .cd-navigation.socials.text-center
            .footer2-soc-a
              %a{ href => "https://www.facebook.com/Kunal.shah239", :target => "_blank", :title => "Facebook }
                %i.fa.fa-facebook
              %a{ href => "https://www.instagram.com/kunalsh22", :target => "_blank", :title => "Instagram }
                %i.fa.fa-instagram
              %a{ href => "https://www.snapchat.com/add/kjango1", :target => "_blank", :title => "Snapchat }
                %i.fa.fa-snapchat-ghost{ aria-hidden" => "true }
              %a{ href => "https://www.linkedin.com/in/kunalgorithm/", :target => "_blank", :title => "LinkedIn+ }
                %i.fa.fa-linkedin
              %a{ href => "https://github.com/kunalgorithm", :target => "_blank", :title => "Github }
                %i.fa.fa-github
          / socials
        / END side menu
        / SLIDING CONTENT
        #index-link.sliding-content.rev_slider_wrapper.fullscreen-container{ style => "background-color:#fff;padding:0px; }
          / need for menu
          / START REVOLUTION SLIDER 5.1.4 fullscreen mode
          #rev_slider_280_1.rev_slider.fullscreenbanner{ data-version" => "5.1.4", :style => "display:none; }
            %ul
              / SLIDE
              %li{ data-description" => "", "data-easein" => "Power2.easeInOut", "data-easeout" => "default", "data-index" => "rs-898", "data-masterspeed" => "1500", "data-param1" => "", "data-param10" => "", "data-param2" => "", "data-param3" => "", "data-param4" => "", "data-param5" => "", "data-param6" => "", "data-param7" => "", "data-param8" => "", "data-param9" => "", "data-rotate" => "0", "data-saveperformance" => "off", "data-slotamount" => "default", "data-title" => "Slide", "data-transition" => "fade }
                / MAIN IMAGE
                %img.rev-slidebg{ alt => "img", "data-bgparallax" => "12", "data-bgposition" => "center center", "data-duration" => "30000", "data-ease" => "Linear.easeNone", "data-no-retina" => "", :src => "images/wide-ks2.png }/
                / LAYERS
                / LAYER NR. 1
                #slide-898-layer-1.tp-caption.font-poppins.font-black.tp-resizeme.rs-parallaxlevel-6{ data-fontsize" => "['80','70','60','36']", "data-fontweight" => "300", "data-height" => "none", "data-hoffset" => "['40','40','40','20']", "data-lineheight" => "['96','86','76','50']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:inherit;y:inherit;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "500", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "y:[100%];s:1000;s:1000;", "data-voffset" => "['-100','-90','-80','-50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['center','center','center','center']", :style => "z-index: 8; white-space: nowrap; }
                  Hi, I'm
                  %strong.bold Kunal Shah
                / LAYER NR. 2
                #slide-898-layer-2.tp-caption.font-poppins.font-black.tp-resizeme.rs-parallaxlevel-6{ data-fontsize" => "['80','70','60','36']", "data-fontweight" => "300", "data-height" => "none", "data-hoffset" => "['40','40','40','20']", "data-lineheight" => "['96','86','76','50']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:inherit;y:inherit;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "800", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "y:[100%];s:1000;s:1000;", "data-voffset" => "['0','0','0','0']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['center','center','center','center']", :style => "z-index: 8; white-space: nowrap; }
                  developer &amp; designer
                / LAYER NR. 3
                #slide-898-layer-3.tp-caption.font-poppins.font-black.tp-resizeme.rs-parallaxlevel-6{ data-fontsize" => "['80','70','60','36']", "data-fontweight" => "300", "data-height" => "none", "data-hoffset" => "['40','40','40','20']", "data-lineheight" => "['96','86','76','50']", "data-mask_in" => "x:0px;y:0px;", "data-mask_out" => "x:inherit;y:inherit;s:inherit;e:inherit;", "data-responsive_offset" => "on", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1100", "data-transform_idle" => "o:1;", "data-transform_in" => "y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;", "data-transform_out" => "y:[100%];s:1000;s:1000;", "data-voffset" => "['100','90','80','50']", "data-whitespace" => "nowrap", "data-width" => "none", "data-x" => "['left','left','left','left']", "data-y" => "['center','center','center','center']", :style => "z-index: 8; white-space: nowrap; }
                  based in Houston
                  %span.red-dot .
            .tp-bannertimer.tp-bottom{ style => "visibility: hidden !important; }
        / END sliding-content
        / SLIDING CONTENT
        .sliding-content
          / need for menu
          / FEATURES 5 ABOUT ME
          #about-link.page-section.pt-160-b-120-cont
            .container
              .row
                / TEXT
                .col-md-5.pb-40
                  .font-poppins.font-32.font-black.bold.mb-0
                    %p I'm an avid programmer with a passion for exceptional design.
                / FEATURES
                .col-md-offset-1.col-md-6
                  .row
                    .col-md-6.col-sm-6.pb-10
                      .fes5-box.wow.fadeIn
                        %p My interests span home automation, computer vision, cloud applications, UIX design, and more.
                    .col-md-6.col-sm-6.pb-10
                      .fes5-box.wow.fadeIn{ data-wow-delay" => "200ms }
                        %p In my free time, I like to browse reddit, drink coffee, write short stories, read books, and drink more coffee.
                  .row
                    .col-md-6.col-sm-6.pb-10
                      .fes5-box.wow.fadeIn{ data-wow-delay" => "400ms }
                        %p I'm currently working as a summer analyst for JP Morgan &amp; Co. in Houston.
                    .col-md-6.col-sm-6.pb-10
                      .fes5-box.wow.fadeIn{ data-wow-delay" => "600ms }
                        %p I'm always on the look out for new projects. Let me know if you'd like to work together!
          / FEATURES 13 MY SKILLS
          #skills-link.page-section.pt-160-b-120-cont.bg-white
            .container
              .row
                .col-xs-12.col-sm-4.col-md-4
                  .fes4-box.wow.fadeIn{ data-wow-delay" => "000ms }
                    .fes13-title-cont
                      .fes13-box-icon
                        .icon.icon-basic-globe
                      %h3
                        %strong Front End
                    .fes14-tab-text
                      HAML, SASS, scss, Less, Node, React.
                      / I am a teaching assistant for Data Science Tools &amp; Models (COMP 330) at Rice University.
                .col-xs-12.col-sm-4.col-md-4
                  .fes4-box.wow.fadeIn{ data-wow-delay" => "200ms }
                    .fes13-title-cont
                      .fes13-box-icon
                        .icon.icon-basic-settings
                      %h3
                        %strong Data Analytics
                    .fes14-tab-text
                      NumPy, SciPy, pandas, R, MySQL, SQL Server, and more.
                .col-xs-12.col-sm-4.col-md-4
                  .fes4-box.wow.fadeIn{ data-wow-delay" => "400ms }
                    .fes13-title-cont
                      .fes13-box-icon
                        .icon.icon-basic-share
                      %h3
                        %strong Back End
                    .fes14-tab-text
                      Python, Java, Ruby.
              .row
                .col-xs-12.col-sm-4.col-md-4
                  .fes4-box.wow.fadeIn{ data-wow-delay" => "600ms }
                    .fes13-title-cont
                      .fes13-box-icon
                        .icon.icon-basic-target
                      %h3
                        %strong Design
                    .fes14-tab-text
                      Photoshop, sketch, wireframes, graphics, brandings.
                .col-xs-12.col-sm-4.col-md-4
                  .fes4-box.wow.fadeIn{ data-wow-delay" => "800ms }
                    .fes13-title-cont
                      .fes13-box-icon
                        .icon.icon-basic-globe
                      %h3
                        %strong Not Running
                    .fes14-tab-text
                      The greatest of hobbies.
                .col-xs-12.col-sm-4.col-md-4
                  .fes4-box.wow.fadeIn{ data-wow-delay" => "1000ms }
                    .fes13-title-cont
                      .fes13-box-icon
                        .icon.icon-basic-picture
                      %h3
                        %strong Robotics
                    .fes14-tab-text
                      Home automation, rasberry pi, VR, self-driving cars.
          / BLOG
          #blog-link.page-section.pt-110-b-30-cont
            .container
              .mb-50
                %h2.section-title2.pr-0
                  Blog
                  / UNCOMMENT FOR ALL BLOG POSTS <h2 class="section-title2 pr-0">Blog<a href="#" onclick="return false;" class="section-more right">All Blog Posts</a></h2>
              .row
                / Post Item 1
                .col-md-12.wow.fadeIn.pb-30{ style => "visibility: visible; animation-name: fadeIn; }
                  .row
                    .col-md-4.blog2-post-title-cont
                      .post-prev-date-cont
                        %span.blog2-date-numb 12
                        %span.blog2-month June
                      .post-prev-title
                        %h3
                          %a{ href => "blog/build-your-first-website.html } Build Your First Website
                        .post-prev-info
                          %a{ href => "/ } design
                          %span.slash-divider /
                          %a{ href => "/ } kunal shah
                    .col-md-8
                      .blog2-post-prev-text
                        You know have to know HTML or CSS to build a website. In fact, you don't even need to know what they stand for. Here's how to build your first website in 20 minutes.
          / 1 2 3 Let's Work together
          .container-fluid.p-110-cont.bg-gray
            .row
              .col-lg-3.col-md-6.col-sm-6
                .work-proc2-cont.wow.fadeIn
                  .work-proc2-icon-cont.pos-l-12
                    01
                  %h3 Design
                  %p Photoshop, Sketch, HTML5, CCS3, Bootstrap, React.js, Node.js, Swift
              .col-lg-3.col-md-6.col-sm-6
                .work-proc2-cont.wow.fadeIn{ data-wow-delay" => "200ms }
                  .work-proc2-icon-cont
                    02
                  %h3 Development
                  %p Python, Java, SQL, Flask, Django, Perl, R, C, C++
              .col-lg-3.col-md-6.col-sm-6
                .work-proc2-cont.wow.fadeIn{ data-wow-delay" => "400ms }
                  .work-proc2-icon-cont
                    03
                  %h3 Production
                  %p Apache, AWS, Google App Engine, Firebase, MongoDB, Cloud Deployment
              .col-lg-3.col-md-6.col-sm-6
                .work-proc2-a-cont.wow.fadeIn{ data-wow-delay" => "600ms }
                  %a.work-proc2-a{ href => "# }
                    .work-proc2-a-text.font-poppins
                      Let's work
                      %br/
                      %span.border-bot together
                    .work-proc2-bg-block
          / PORTFOLIO SECTION (3 COLS, BOXED)
          #portfolio-link.page-section.p-140-cont
            .relative
              .container
                / TITLE
                .mb-10
                  %h2.section-title2
                    %strong Here's what I've been up to
                / PORTFOLIO FILTER
                .pl-xxs-10
                  %ul.port-filter
                    %li
                      %a.filter.active{ data-filter" => "*", :href => "# } All
                    %li
                      %a.filter{ data-filter" => ".development", :href => "# } Development
                    %li
                      %a.filter{ data-filter" => ".design", :href => "# } Design
                    %li
                      %a.filter{ data-filter" => ".extra", :href => "# } Extracurriculars
                    %li
                      %a.filter{ data-filter" => ".work", :href => "# } Work Experience
                / ITEMS GRID
                %ul#items-grid.port-grid.clearfix
                  %li.port-item.mix.extra
                    %a{ href => "# }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/stayontrack.jpg }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Stay On Track Nonprofit Organization
                          %span Founder, Board Member, Former President
                  %li.port-item.mix.work.development
                    %a{ href => "# }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/jpmorgan.jpg }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 JP Morgan Chase &amp;Co.
                          %span Techonology Analyst
                  %li.port-item.mix.work.development
                    %a{ href => "http://shade.io/", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/shade.png }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Shade Biotechnology Startup
                          %span Data Science Intern
                  %li.port-item.mix.work.development
                    %a{ href => "https://bioinfocs.rice.edu/phylonet", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/phylonet.png }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Rice Bioinformatics Research
                          %span Research Intern
                  %li.port-item.mix.design.development
                    %a{ href => "http://riceapps.org/", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/riceapps.png }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Rice Apps Development Team
                          %span Design
                  %li.port-item.mix.work
                    %a{ href => "http://www.bakerinstitute.org/mcnair-center-for-entrepreneurship-and-innovation/", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/mcnair.png }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 McNair Center for Entrepreneurship and Innovation
                          %span Computer Science Intern
                  %li.port-item.mix.development.design
                    %a{ href => "http://www.90degreestudios.com", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/u.png }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 90 Degree Studios
                          %span Founder, Web Developer
                  %li.port-item.mix.extra
                    %a{ href => "http://www.teamwiess.com/", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "http://www.teamwiess.com/acapics/pink.jpg }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Wiess College
                          %span Internal Vice President
                  %li.port-item.mix.extra.design
                    %a{ href => "http://www.teamwiess.com/", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/webmaster.png }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Wiess College
                          %span Webmaster
                  %li.port-item.mix.extra.development
                    %a{ href => "http://www.riceowls.com/sports/m-track/rice-m-track-body.html", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/track_banner.jpg }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Rice Track and Field
                          %span Web Developer, Former Long Distance Runner
                  %li.port-item.mix.extra.development
                    %a{ href => "http://csclub.rice.edu/", :target => "_blank }
                      .port-img-overlay
                        %img.port-main-img{ alt => "img", :src => "images/ricecs.png }/
                      .port-overlay-cont
                        .port-title-cont2
                          %h3 Rice Computer Science Club
                          %span Advisory Board Member
                / END PROJECTS
          / END PORTFOLIO SECTION
          / SLOGAN 1
          .p-140-cont.bg-gray
            .container
              .row
                .col-md-7.col-sm-12
                  %h3.sl1-text.font-light.font-raleway The only way to do great work is to love what you do
                .col-md-offset-1.col-md-4.col-sm-offset-7.col-sm-5.col-xs-offset-5.col-xs-7.mt-40.mb-20
                  %img{ alt => "img", :src => "images/signature.png }/
          / CONTACT INFO & FORM SECTION 1
          #contact-link.page-section.p-140-cont
            .container
              .row
                .col-md-12
                  %h2.section-title2.mb-45.p-0
                    %strong Get in touch!
              .row
                / CONTACT INFO
                .col-md-4.mb-30
                  .row
                    .col-md-12.col-sm-6
                      .cis-cont
                        .cis-icon
                          .icon.icon-basic-map
                        .cis-text
                          %h3 Address
                          %p 6340 Main St. Houston, TX 77005
                    .col-md-12.col-sm-6
                      .cis-cont
                        .cis-icon
                          .icon.icon-basic-mail
                        .cis-text
                          %h3 Email
                          %p
                            %a{ href => "mailto:mail@kunalshah.co } mail@kunalshah.co
                    .col-md-12.col-sm-6
                      .cis-cont
                        .cis-icon
                          .icon.icon-basic-smartphone
                        .cis-text
                          %h3 Text
                          %p 1-914-355-8653
                / CONTACT FORM
                .col-md-8
                  .relative
                    %form#contact-form{ action => "php/contact-form.php", :method => "POST }
                      .row
                        .col-md-12
                          .row
                            .col-md-6.mb-23
                              / <label>Your name *</label>
                              %input#name.form-control{ data-msg-required" => "Please enter your name", :maxlength => "100", :name => "name", :placeholder => "Name", :required => "", :type => "text", :value => " }/
                            .col-md-6.mb-23
                              / <label>Your email address *</label>
                              %input#email.form-control{ data-msg-email" => "Please enter a valid email address", "data-msg-required" => "Please enter your email address", :maxlength => "100", :name => "email", :placeholder => "Email", :required => "", :type => "email", :value => " }/
                        .col-md-12
                          / <label>Message *</label>
                          %textarea#message.form-control{ data-msg-required" => "Please enter your message", :maxlength => "5000", :name => "message", :placeholder => "Message", :required => "", :rows => "4 }
                          .text-right.text-xxs-center
                            %input.button.medium.rounded.gray.font-open-sans.mt-40{ data-loading-text" => "Loading...", :type => "submit", :value => "SEND MESSAGE }/
                    #contactSuccess.alert.alert-success.hidden.animated.pulse
                      Thanks, I'll get back to you shortly!
                    #contactError.alert.alert-danger.hidden.animated.shake
                      %strong Error!
                      There was an error sending your message.
          / Use Jquery to load footer.html
          #footer
        / END sliding-content
        / BACK TO TOP
        %p#back-top
          %a{ href => "#top", :title => "Back to Top }
            %span.icon.icon-arrows-up
      / End BG
    / End wrap
    / JS begin
    / Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){ ['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments },i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-98307196-1', 'auto');
      ga('send', 'pageview');
    / FONT AWESOME - added May 16, 2017 for snapchat fa fa icon
    %script{ src => "https://use.fontawesome.com/7aba97fc98.js }
    / jQuery
    %script{ src => "js/jquery.min.js", :type => "text/javascript }
    / Include all compiled plugins (below), or include individual files as needed
    %script{ src => "js/bootstrap.min.js }
    / PORTFOLIO SCRIPTS
    %script{ src => "js/isotope.pkgd.min.js", :type => "text/javascript }
    %script{ src => "js/imagesloaded.pkgd.min.js", :type => "text/javascript }
    %script{ src => "js/masonry.pkgd.min.js", :type => "text/javascript }
    / APPEAR
    %script{ src => "js/jquery.appear.js", :type => "text/javascript }
    /[if lt IE 10] <script type="text/javascript" src="js/jquery.placeholder.js"></script>
    / FORMS VALIDATION
    %script{ src => "js/jquery.validate.min.js }
    %script{ src => "js/contact-form-validation.min.js }
    / ONE PAGE NAV
    %script{ src => "js/jquery.nav.js }
    :javascript
      $(function(){
        $("#header").load("header.html");
        $("#footer").load("footer.html");
      });
    :javascript
      $(document).ready(function() {
      	//ONE PAGE NAV	---------------------------------------------------------------------------
      		var top_offset = $('header').height() - 1;  // get height of fixed navbar
      		$('#nav-onepage').onePageNav({
      			currentClass: 'current',
      			changeHash: false,
      			scrollSpeed: 700,
      			scrollOffset: top_offset,
      			scrollThreshold: 0.5,
      			filter: '',
      			easing: 'swing',
      			begin: function() {
      				//I get fired when the animation is starting
      			},
      			end: function() {
      				//I get fired when the animation is ending
      			},
      			scrollChange: function($currentListItem) {
      				//I get fired when you enter a section and I pass the list item of the section
      			}
      		});
      });//END document.ready
    / MAIN SCRIPT
    %script{ src => "js/main.js }
    / SIDE MENU
    %script{ src => "js/side-menu.js }
    / REVOSLIDER SCRIPTS
    %script{ src => "revo-slider/js/jquery.themepunch.tools.min.js", :type => "text/javascript }
      :cdata
    %script{ src => "revo-slider/js/jquery.themepunch.revolution.min.js", :type => "text/javascript }
      :cdata
    /
      SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
      The following part can be removed on Server for On Demand Loading)
    %script{ src => "revo-slider/js/extensions/revolution.extension.actions.min.js", :type => "text/javascript }
    %script{ src => "revo-slider/js/extensions/revolution.extension.carousel.min.js", :type => "text/javascript }
    %script{ src => "revo-slider/js/extensions/revolution.extension.kenburn.min.js", :type => "text/javascript }
    %script{ src => "revo-slider/js/extensions/revolution.extension.layeranimation.min.js", :type => "text/javascript }
      :cdata
    %script{ src => "revo-slider/js/extensions/revolution.extension.migration.min.js", :type => "text/javascript }
    %script{ src => "revo-slider/js/extensions/revolution.extension.navigation.min.js", :type => "text/javascript }
    %script{ src => "revo-slider/js/extensions/revolution.extension.parallax.min.js", :type => "text/javascript }
    %script{ src => "revo-slider/js/extensions/revolution.extension.slideanims.min.js", :type => "text/javascript }
    %script{ src => "revo-slider/js/extensions/revolution.extension.video.min.js", :type => "text/javascript }
    / SLIDER REVOLUTION INITIALIZATION
    :javascript
      jQuery(document).ready(function() {
      	jQuery("#rev_slider_280_1").show().revolution({
      		sliderType: "hero",
      		jsFileLocation: "revo-slider/js/",
      		sliderLayout: "fullscreen",
      		dottedOverlay: "none",
      		delay: 9000,
      		/*navigation:  },*/
      		responsiveLevels: [1240, 1024, 778, 480],
      		visibilityLevels: [1240, 1024, 778, 480],
      		gridwidth: [1240, 1024, 778, 480],
      		gridheight: [868, 768, 960, 720],
      		lazyType: "none",
      		parallax: {
      			type: "off",
      			origo: "slidercenter",
      			speed: 1000,
      			levels: [0],
      			type: "scroll",
      			disable_onmobile: "on"
      		},
      		shadow: 0,
      		spinner: "spinner2",
      		autoHeight: "off",
      		fullScreenAutoWidth: "off",
      		fullScreenAlignForce: "off",
      		fullScreenOffsetContainer: "",
      		fullScreenOffset: "",
      		disableProgressBar: "on",
      		hideThumbsOnMobile: "off",
      		hideSliderAtLimit: 0,
      		hideCaptionAtLimit: 0,
      		hideAllCaptionAtLilmit: 0,
      		debugMode: false,
      		fallbacks: {
      			simplifyAll: "off",
      			disableFocusListener: false,
      		}
      	});
      }); /*ready*/
    / JS end
